<%= form_with(model: battle, local: true) do |form| %>
  <% if battle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(battle.errors.count, "error") %> prohibited this battle from being saved:</h2>

      <ul>
      <% battle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :recipient_screenname, "Opponent" %>
    <%= form.text_field :recipient_screenname, placeholder: "@screename" %>
  </div>
  
  <div class="field">
    <%= form.label :invited_recipient_email, "Challenge over email:" %>
    <%= form.text_field :invited_recipient_email, placeholder: "email@example.com" %>
  </div>

  <div class="field">
    <%= form.label :invited_recipient_phone_number, "Challenge over text:" %>
    <%= form.text_field :invited_recipient_phone_number,  placeholder: "(555)123-4567" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
