<p id="notice"><%= notice %></p>

<h1>Battles</h1>

<table>
  <thead>
    <tr>
      <th>Initiator</th>
      <th>Recipient</th>
      <th>Description</th>
      <th>Outcome</th>
      <th>State</th>
      <th>Disputed at</th>
      <th>Disputed by</th>
      <th>Invited recipient email</th>
      <th>Invited recipient phone number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @battles.each do |battle| %>
      <tr>
        <td><%= battle.initiator %></td>
        <td><%= battle.recipient %></td>
        <td><%= battle.description %></td>
        <td><%= battle.outcome %></td>
        <td><%= battle.state %></td>
        <td><%= battle.disputed_at %></td>
        <td><%= battle.disputed_by %></td>
        <td><%= battle.invited_recipient_email %></td>
        <td><%= battle.invited_recipient_phone_number %></td>
        <td><%= link_to 'Show', battle %></td>
        <td><%= link_to 'Edit', edit_battle_path(battle) %></td>
        <td><%= link_to 'Destroy', battle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Battle', new_battle_path %>
