<p id="notice"><%= notice %></p>

<p>
  <strong>Initiator:</strong>
  <%= @battle.initiator.screenname %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @battle.recipient.try(:screenname) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @battle.description %>
</p>

<p>
  <strong>Outcome:</strong>
  <%= outcome_string @battle %>
</p>

<p>
  <strong>State:</strong>
  <%= state_string @battle %>
</p>

<% if @battle.disputed? %>
  <p>
    <strong>Disputed at:</strong>
    <%= @battle.disputed_at %>
  </p>

  <p>
    <strong>Disputed by:</strong>
    <%= @battle.disputed_by.try(:screenname) %>
  </p>
<% end %>

<p>
  <strong>Invited recipient email:</strong>
  <%= @battle.invited_recipient_email %>
</p>

<p>
  <strong>Invited recipient phone number:</strong>
  <%= @battle.invited_recipient_phone_number %>
</p>

<%= link_to 'Edit', edit_battle_path(@battle) %> |
<%= link_to 'Back', battles_path %>
